<!DOCTYPE HTML>
<!--
  Phantom by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>{{ main_page.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="icon" href="images/favicon.ico" sizes="16x16">
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
  </head>
  <body>
  <!-- Wrapper -->
  <div id="wrapper">

  <!-- Header -->
  <header id="header">
    <div class="inner">

      <!-- Logo -->
        <a href="index.html" class="logo">
          <span class="title">{{ main_page.logo_title }}</span>
        </a>

      <!-- Nav -->
        <nav>
          <ul>
            <li><a href="#menu">Menu</a></li>
          </ul>
        </nav>

    </div>
  </header>

  <!-- Menu -->
  <nav id="menu">
    <h2>Menu</h2>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="/cgit/">Git Repositories</a></li>
      <li><a href="/cgi-bin/fossil/">Fossil SCM</a></li>
    </ul>
  </nav>

  <!-- Main -->
  <div id="main">
    <div class="inner">
      <header>
        <h1>{{ main_page.webpage_title }}</h1>
        <p>Take a look around if you want to. Some of this code is also available on github.com</p>
      </header>
      <section class="tiles">
        <article class="style1">
          <span class="image">
            <img src="images/pic01.jpg" alt="" />
          </span>
          <a href="/cgit/">
            <h2>Git Repos</h2>
            <div class="content">
              <p>Git Repositories</p>
            </div>
          </a>
        </article>
        <article class="style2">
          <span class="image">
            <img src="images/pic02.jpg" alt="" />
          </span>
          <a href="/cgi-bin/fossil/">
            <h2>Fossil SCM</h2>
            <div class="content">
              <p>Fossil SCM Repositories</p>
            </div>
          </a>
        </article>
      </section>
    </div>
  </div>

  <!-- Footer -->
  <footer id="footer">
    <div class="inner">
      <section>
        <h2>Follow</h2>
        <ul class="icons">
          <li><a href="https://github.com/{{ main_page.username1 }}" class="icon style2 fa-github"><span class="label">GitHub</span></a></li>
          <li><a href="https://twitter.com/{{ main_page.username1 }}" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="https://github.com/{{ main_page.username2 }}" class="icon style2 fa-github"><span class="label">GitHub</span></a></li>
        </ul>
      </section>
      <ul class="copyright">
        <li>&copy; 2019 {{ main_page.copyright_name }}. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
      </ul>
    </div>
  </footer>

  </div>   <!-- End Wrapper -->

  <!-- Scripts -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/skel.min.js"></script>
  <script src="assets/js/util.js"></script>
  <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
  <script src="assets/js/main.js"></script>

  </body>
</html>
