# The "all" configuration exported from
# repository "/Users/dastagg/dev/.FOSSIL/config.fsl"
# on 2015-01-27 23:07:53
config /reportfmt 599
1422398731 '2-All Tickets' owner '' cols '#ffffff Key:
#f2dcdc Active
#e8e8e8 Review
#cfe8bd Fixed
#bde5d6 Tested
#cacae5 Deferred
#c8c8c8 Closed' sqlcode 'SELECT
  CASE WHEN status IN (''Open'',''Verified'') THEN ''#f2dcdc''
       WHEN status=''Review'' THEN ''#e8e8e8''
       WHEN status=''Fixed'' THEN ''#cfe8bd''
       WHEN status=''Tested'' THEN ''#bde5d6''
       WHEN status=''Deferred'' THEN ''#cacae5''
       ELSE ''#c8c8c8'' END AS ''bgcolor'',
  substr(tkt_uuid,1,10) AS ''#'',
  datetime(tkt_mtime) AS ''mtime'',
  type,
  status,
  subsystem,
  title
FROM ticket'
config /reportfmt 599
1422398804 '3-Open Tickets' owner '' cols '#ffffff Key:
#f2dcdc Active
#e8e8e8 Review
#cfe8bd Fixed
#bde5d6 Tested
#cacae5 Deferred
#c8c8c8 Closed' sqlcode 'SELECT
CASE WHEN status IN (''Open'',''Verified'') THEN ''#f2dcdc''
WHEN status=''Review'' THEN ''#e8e8e8''
WHEN status=''Fixed'' THEN ''#cfe8bd''
WHEN status=''Tested'' THEN ''#bde5d6''
WHEN status=''Deferred'' THEN ''#cacae5''
ELSE ''#c8c8c8'' END AS ''bgcolor'',
substr(tkt_uuid,1,10) AS ''#'',
datetime(tkt_mtime) AS ''mtime'',
type,
status,
subsystem,
title
FROM ticket
WHERE status=''Open''
ORDER BY tkt_mtime DESC'
config /reportfmt 712
1422398835 '4-Not Closed or Fixed, Doc or Feature' owner '' cols '#ffffff Key:
#f2dcdc Active
#e8e8e8 Review
#cfe8bd Fixed
#bde5d6 Tested
#cacae5 Deferred
#c8c8c8 Closed' sqlcode 'SELECT
CASE WHEN status IN (''Open'',''Verified'') THEN ''#f2dcdc''
WHEN status=''Review'' THEN ''#e8e8e8''
WHEN status=''Fixed'' THEN ''#cfe8bd''
WHEN status=''Tested'' THEN ''#bde5d6''
WHEN status=''Deferred'' THEN ''#cacae5''
ELSE ''#c8c8c8'' END AS ''bgcolor'',
substr(tkt_uuid,1,10) AS ''#'',
date(tkt_mtime) AS ''mtime'',
type,
status,
subsystem,
title
FROM ticket
WHERE status NOT IN (''Closed'', ''Fixed'') AND type NOT IN (''Documentation'', ''Feature_Request'')
ORDER BY status, mtime DESC, type DESC'
config /reportfmt 620
1422398879 '5-Open by type' owner '' cols '#ffffff Key:
#f2dcdc Active
#e8e8e8 Review
#cfe8bd Fixed
#bde5d6 Tested
#cacae5 Deferred
#c8c8c8 Closed' sqlcode 'SELECT
CASE WHEN status IN (''Open'',''Verified'') THEN ''#f2dcdc''
WHEN status=''Review'' THEN ''#e8e8e8''
WHEN status=''Fixed'' THEN ''#cfe8bd''
WHEN status=''Tested'' THEN ''#bde5d6''
WHEN status=''Deferred'' THEN ''#cacae5''
ELSE ''#c8c8c8'' END AS ''bgcolor'',
substr(tkt_uuid,1,10) AS ''#'',
datetime(tkt_mtime) AS ''mtime'',
type,
status,
subsystem,
title
FROM ticket
WHERE status IN (''Open'', ''Verified'')
ORDER BY type, mtime DESC'
config /reportfmt 611
1422398924 '6-Open feature requests' owner '' cols '#ffffff Key:
#f2dcdc Active
#e8e8e8 Review
#cfe8bd Fixed
#bde5d6 Tested
#cacae5 Deferred
#c8c8c8 Closed' sqlcode 'SELECT
CASE WHEN status IN (''Open'',''Verified'') THEN ''#f2dcdc''
WHEN status=''Review'' THEN ''#e8e8e8''
WHEN status=''Fixed'' THEN ''#cfe8bd''
WHEN status=''Tested'' THEN ''#bde5d6''
WHEN status=''Deferred'' THEN ''#cacae5''
ELSE ''#c8c8c8'' END AS ''bgcolor'',
substr(tkt_uuid,1,10) AS ''#'',
datetime(tkt_mtime) AS ''mtime'',
title
FROM ticket
WHERE status=''Open''
AND type=''Feature_Request''
ORDER BY tkt_mtime DESC'
config /reportfmt 598
1422398960 '7-Recently changed tickets' owner '' cols '#ffffff Key:
#f2dcdc Active
#e8e8e8 Review
#cfe8bd Fixed
#bde5d6 Tested
#cacae5 Deferred
#c8c8c8 Closed' sqlcode 'SELECT
CASE WHEN status IN (''Open'',''Verified'') THEN ''#f2dcdc''
WHEN status=''Review'' THEN ''#e8e8e8''
WHEN status=''Fixed'' THEN ''#cfe8bd''
WHEN status=''Tested'' THEN ''#bde5d6''
WHEN status=''Deferred'' THEN ''#cacae5''
ELSE ''#c8c8c8'' END AS ''bgcolor'',
substr(tkt_uuid,1,10) AS ''#'',
strftime(''%Y-%m-%d %H:%M'',tkt_mtime) AS ''mtime'',
title,
status
FROM ticket
ORDER BY tkt_mtime DESC
LIMIT 50'
config /reportfmt 275
1422398989 '8-Ticket Counts By Status' owner '' cols '#ffffff Key:
#f2dcdc Active
#e8e8e8 Review
#cfe8bd Fixed
#bde5d6 Tested
#cacae5 Deferred
#c8c8c8 Closed' sqlcode 'SELECT
status AS ''Status'',
count(*) AS ''Number of Tickets''
FROM ticket
GROUP BY 1 ORDER BY 1'
config /reportfmt 635
1422399026 '9-Top stale tickets' owner '' cols '#ffffff Key:
#f2dcdc Active
#e8e8e8 Review
#cfe8bd Fixed
#bde5d6 Tested
#cacae5 Deferred
#c8c8c8 Closed' sqlcode 'SELECT
CASE WHEN status IN (''Open'',''Verified'') THEN ''#f2dcdc''
WHEN status=''Review'' THEN ''#e8e8e8''
WHEN status=''Fixed'' THEN ''#cfe8bd''
WHEN status=''Tested'' THEN ''#bde5d6''
WHEN status=''Deferred'' THEN ''#cacae5''
ELSE ''#c8c8c8'' END AS ''bgcolor'',
substr(tkt_uuid,1,10) AS ''#'',
strftime(''%Y-%m-%d %H:%M'',tkt_mtime) AS ''mtime'',
title,
status
FROM ticket
WHERE status NOT IN (''Fixed'', ''Closed'')
ORDER BY tkt_mtime ASC
LIMIT 50'
config /config 41
1422398670 'timeline-plaintext' value '1'
config /config 658
1422399306 'ticket-common' value 'set type_choices {
   Code_Example
   Code_Defect
   Build_Problem
   Documentation
   Feature_Request
   Incident
}
set priority_choices {
  Medium
  Immediate
  High
  Low
  Zero
}
set severity_choices {
  Important
  Critical
  Severe
  Minor
  Cosmetic
}
set resolution_choices {
  Open
  Fixed
  Rejected
  Workaround
  Unable_To_Reproduce
  Works_As_Designed
  External_Bug
  Not_A_Bug
  Duplicate
  Overcome_By_Events
  Drive_By_Patch
  Misconfiguration
}
set status_choices {
  Open
  Verified
  Review
  Deferred
  Fixed
  Tested
  Closed
}
set subsystem_choices {
}
'
